{% extends 'marketers/layout.html' %}
{% block content %}
{% extends 'crm/layout.html' %}
{% block content %}
<div class="error-page">
    <h2 class="headline text-warning"> 403</h2>

    <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Permission needed here.</h3>

        <p>
            Happens that you do not have permission to view this resource.
            Meanwhile, you may <a href="{% url 'marketer:dashboard' %}">return to dashboard</a>.
        </p>

        <!-- <form class="search-form">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Search">

                <div class="input-group-append">
                    <button type="submit" name="submit" class="btn btn-warning"><i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            
        </form> -->
    </div>
    <!-- /.error-content -->
</div>
{% endblock content %}