{% extends 'crm/layout.html' %}
{% load crm_tags %}
{% block title %}Update {{object.description}} Role{% endblock title %}
{% block page_title %}Update {{object.description}} Role{% endblock page_title %}
{% block setmenu %}menu-open{% endblock %}
{% block set %}active{% endblock set %}
{% block roles %}active{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-2 col-md-2">
        <div class="card">
            <div class="card-header">Users</div>
            <div class="card-body">
                <div class="list-group-flush">
                    {% for mem in members %}
                        <div class="list-group-item">
                            {{mem.get_full_name}}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-lg-10">
        <div class="card">
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_title">Role Title</label>
                        <input type="text" name="description" value="{{object.description}}" required id="" class="form-control">
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Module</th>
                                    <th>Read</th>
                                    <th>Write</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>User</td>
                                    <td>
                                        <input type="checkbox" name="user.view_user" {% role_perm object 'view_user' %} id="">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="user.change_user" {% role_perm object 'change_user' %} id="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Role</td>
                                    <td>
                                        <input type="checkbox" name="user.view_role" {% role_perm object 'view_role' %} id="">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="user.change_role" {% role_perm object 'change_role' %} id="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Branch</td>
                                    <td>
                                        <input type="checkbox" name="user.view_branch" {% role_perm object 'view_branch' %} id="">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="user.change_branch" {% role_perm object 'change_branch' %} id="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Patient</td>
                                    <td>
                                        <input type="checkbox" name="patient.view_patient" {% role_perm object 'view_patient' %} id="">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="patient.change_patient" {% if role_perms.change_patient %}checked{% endif %} id="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Feedback Setup</td>
                                    <td>
                                        <input type="checkbox" name="feedback.view_feedback" {% role_perm object 'view_feedback' %} id="">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="feedback.change_feedback" {% role_perm object 'change_feedback' %} id="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Feedback Response</td>
                                    <td>
                                        <input type="checkbox" name="feedback.view_feedbackresponse"  {% role_perm object 'view_feedbackresponse' %} id="">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="feedback.change_feedbackresponse" {% role_perm object 'change_feedbackresponse' %} id="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Commission Setup</td>
                                    <td>
                                        <input type="checkbox" name="commission.view_commissionsetup" {% role_perm object 'view_commissionsetup' %} id="">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="commission.change_commissionsetup"  {% role_perm object 'change_commissionsetup' %} id="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Commission</td>
                                    <td>
                                        <input type="checkbox" name="commission.view_commission" {% role_perm object 'view_commission' %} id="">
                                    </td>
                                    <td>
                                        <input type="checkbox" name="commission.change_commission" {% role_perm object 'change_commission' %} id="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="{% url 'user:roles' %}" class="btn btn-secondary">Cancel</a>
                            <!-- <input type="submit" value="Save and Publish" class="btn btn-primary float-right ml-2"> -->
                            <input type="submit" name="submit" value="Delete" class="btn btn-danger float-right ml-2">
                            <input type="submit" name="submit" value="Update" class="btn btn-success float-right">
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}